body {
  font-family: Arial, sans-serif;
  margin: 1;
  padding: 1;
  line-height: 1.6;
  background-color: #8fedfa;
  color: #ee9521;
}
nav {
  background-color: #064964;
  padding: 10px 0;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;             
  justify-content: center;   
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ffcc00;
}
.section {
  padding: 50px;
  text-align: center;
  background-color: white;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgb(233, 217, 166);
}
.highlight {
  color: #d38e28;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.project {
  background-color: #b1ebf5;
  padding: 20px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}
  
footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 15px 0;
  margin-top: 30px;
}
.Skills-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.Skill{
  background-color:#a9e6eb;
  padding: 20px;
  width: 200px;
  border-radius: 0px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}